:root {
    --bg: #81dcfd;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

main {
    flex: 1;
}

header, footer {
    background: var(--bg);
    color: rgb(0, 0, 0);
    padding: 15px;
}

img { height:600px; width:auto; object-fit:contain; vertical-align:middle; }
